[include]
    path = ~/.gitconfig-global
[includeIf "gitdir:~/Projects/work/"]
    path = ~/.gitconfig-work
[init]
	defaultBranch = master
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[diftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE

[merge]
    tool = nvimdiff
[mergetool "nvimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[core]
    autocrlf = input
    pager = less -iXFR
    editor = nvim

[alias]
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    s = status -s
    st = status
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff -w --patch-with-stat"
    di =!"d() { git diff -w --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    p = git pull
    c = clone --recursive
    cc = commit -av
    cm = commit -m
    tags = tag -l
    branches = branch -a
    remotes = remote -v

[apply]
    whitespace = fix

[diff "bin"]
    textconv = hexdump -v -C
